<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
	<style type="text/css">
		*{
			margin:0px;
			padding:0px;
		}
		header,nav,main,footer{
			width:1250px;
			margin:0px auto
		}
		header{
			height:180px;
		}
		nav{
			height:50px;
			background-color:chartreuse;
		}
		main{
			background-color:darkcyan;
				height:900px;
		}
		footer{
			height:100px;
		}
		header,footer{
			background-color:aquamarine;
		}
		h1{
			color:brown;
			height:30px;
			width:600px;
			margin:0px auto;
			text-align:center;
			padding:45px 0px
		}
		h2{
			color:darkolivegreen;
			height:30px;
			padding:3px 0px
		}
		h6{
			margin:0px auto;
			width:600px;
			margin:0px auto;
			text-align:center;
			padding:35px
		}
		section{
			background-color: burlywood;
			color:crimson;
			height;300px;
			width:700px;
			padding:15px;
			margin:10px auto
		}
		section h2{
			color:orchid;
		}
	</style>
</head>

<body>
    <header>
	 <h1>Titulo de encabezado</h1>
	</header>
	<nav>
	 <!--comentario 1: AGREGAR MENU DE NAVEGACION-->
	</nav>
<main>
	<h1 style="color:aqua;" padding:0px >Contenido de la pagina</h1>
	<section>
		<h2>Titulo de seccion</h2>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui veniam quidem, dolorum eveniet ex error nulla architecto aspernatur dolore aperiam.</p>
		<p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b> Dolores reiciendis adipisci illum commodi at, excepturi, praesentium, unde quae natus suscipit a non alias sint quisquam. h<sup>2</sup>=c<sup>2</sup>+c<sup>2</sup> Iste fugit repudiandae blanditiis eos.</p>
		<ul>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit amet.</li>
	  </ul>
	</section>
  <section>
		<h2> Titulo deseleccion</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <i>Maiores dolore doloremque veniam, incidunt dolorem, doloribus ratione natus neque perspiciatis sint earum consequuntur sapiente.</i> Aliquam aspernatur harum rem labore eum cumque accusamus odio, dolores distinctio obcaecati minus praesentium consequatur facilis quia perspiciatis ipsam eveniet alias quibusdam rerum, doloribus deleniti. H<sub>2</sub>O Quasi, perspiciatis!</p>
		<ol>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit.</li>
	  </ol>
		
		</section>
		<section style="background-color:cadetblue">
		  <h2> Titulo deseleccion</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dolore doloremque veniam,<del> incidunt dolorem, doloribus ratione</del> natus neque perspiciatis sint earum consequuntur sapiente. Aliquam aspernatur harum rem labore eum cumque accusamus odio, dolores distinctio obcaecati minus praesentium consequatur facilis quia perspiciatis ipsam eveniet alias quibusdam rerum, doloribus deleniti. <mark>Quasi, perspiciatis!</mark></p>
			<ol>
				<li>Lorem ipsum dolor sit.</li>
				<li>Lorem ipsum dolor sit.</li>
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
				
				</ul>
				<li>Lorem ipsum dolor sit amet.</li>
			</ol>
		 
  </section>
		
  </main>
	<footer>
	<h6>Elaborado por Yesenhia Parra López</h6>
	</footer>
</body>
</html>
